{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="//cdn.jsdelivr.net/npm/gitbook-plugin-theme-default@1.0.7/_assets/website/images/apple-touch-icon-precomposed-152.png">
    <link rel="shortcut icon" href="//cdn.jsdelivr.net/npm/gitbook-plugin-theme-default@1.0.7/_assets/website/images/favicon.ico" type="image/x-icon">
{% endblock %}

{% block style %}
    {### Include theme css before plugins css ###}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gitbook-plugin-theme-default@1.0.7/_assets/website/style.css">

    {{ super() }}

    {### Custom stylesheets for the book ###}

    {% for type, style in config.styles %}
        {% if fileExists(style) and type == "website" %}
        <link rel="stylesheet" href="{{ style|resolveFile }}">
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}{% endblock %}
